<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="Python">
				<action name="Execute">
					<execute>xfce4-terminal -e python</execute>
				</action>
			</item>
			<item label="Python (v2.7)">
				<action name="Execute">
					<execute>xfce4-terminal -e python2.7</execute>
				</action>
			</item>
		</menu>
		<menu id="2" label="Editors">
			<item label="VS Code">
				<action name="Execute">
					<execute>code-oss</execute>
				</action>
			</item>
			<item label="Nano">
				<action name="Execute">
					<execute>xfce4-terminal -e nano</execute>
				</action>
			</item>
			<item label="Vim">
				<action name="Execute">
					<execute>xfce4-terminal -e vim</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="Xfce Terminal">
				<action name="Execute">
					<execute>xfce4-terminal</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
			<item label="XTerm unicode">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item label="GIT">
				<action name="Execute">
					<execute>xfce4-terminal -e git</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<item label="Wallpaper">
					<action name="Execute">
						<execute>nitrogen</execute>
					</action>
				</item>
				<item label="Theme">
					<action name="Execute">
						<execute>lxappearance</execute>
					</action>
				</item>
				<item label="File Manager Settings">
					<action name="Execute">
						<execute>pcmanfm --desktop-pref</execute>
					</action>
				</item>
				<item label="Openbox Settings">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Preferred Applications">
					<action name="Execute">
						<execute>libfm-pref-apps</execute>
					</action>
				</item>
				<item label="Tint2 Settings">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
				<item label="Xfce Terminal">
					<action name="Execute">
						<execute>xfce4-terminal --preferences</execute>
					</action>
				</item>
			</menu>
			<item label="System Monitor">
				<action name="Execute">
					<execute>xfce4-terminal -e htop</execute>
				</action>
			</item>
		</menu>
		<item label="File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
